<div class="panel-body">
	<p class="text-center pv" ng-bind="('Widget : ')+ data.name"></p>
	<form role="form" name="form" novalidate class="form-validate mb-lg">
       	<div class="col-lg-12 col-md-12 form-group has-feedback">
   		 	<label class="control-label col-lg-3 col-md-3 uwpTextmargin">Height</label>
   		 	<div class="control-label col-lg-9 col-md-9">
   		 		<input type="text" class="form-control" name="height" placeholder="Height*" ng-model="data.height" required/>
   		 	</div>
		</div>
		<div class="col-lg-12 col-md-12 form-group has-feedback">
			<label class="control-label col-lg-3 col-md-3 uwpTextmargin">Width</label>
   		 	<div class="control-label col-lg-9 col-md-9">
   		 		<input type="text" name="width" class="form-control"  placeholder="Width*" ng-model="data.width" required/>
   		 	</div>
		</div>
		<div class="col-lg-12 col-md-12 form-group has-feedback">
			<label class="control-label col-lg-3 col-md-3 uwpTextmargin">Min height</label>
   		 	<div class="control-label col-lg-9 col-md-9">
   		 		<input type="text" class="form-control" name="minsizey" placeholder="Min width*" ng-model="data.minsizey" required/>
   		 	</div>
		</div>
		<div class="col-lg-12 col-md-12 form-group has-feedback">
			<label class="control-label col-lg-3 col-md-3 uwpTextmargin">Min width</label>
   		 	<div class="control-label col-lg-9 col-md-9">
   		 		<input type="text" name="minsizex" class="form-control"  placeholder="Min width*" ng-model="data.minsizex" required/>
   		 	</div>
			
		</div>
		<div class="col-lg-12 col-md-12 form-group has-feedback">
			<button type="submit" class="btn btn-block btn-primary mt-lg" ng-click="UpdateWidgetSetting(data, form)">Update</button>
		</div>
       	
	</form>
</div>