<div class="dwDivMain">
    <div class="l-t-c absolute">Critical min: 10</div>
    <div class="r-t-c absolute">Warning min: 20</div>
    <div class="c-c absolute">Value: 30</div>
    <div class="l-b-c absolute">Critical max: 50</div>
    <div class="r-b-c absolute">Warning max: 40</div>
    <div class="img_text_block">
    	<div class="half_widget">
    	<img src="img/user.png">
    	</div>
    	<div class="half_widget half_widget_text">
    	<p class="lg_text">Estimated Time Left</p>
    	<p class="ex_lg_text">6h 41m</p>
    	<p class="sm_text">Talktime 3G: 2h 18m</p>
    	<p class="sm_text">Talktime 3G: 2h 18m</p>
		<p class="sm_text">Talktime 3G: 2h 18m</p>
		</div>
    </div>
</div>